#banner{
    height: 500px;
}

#banner h1{
    font-size: 120pt;
}

main{
    background-color: rgb(0, 0, 0);
    background-image: url('/static/images/bg-uerj.jpg');
    background-size: cover;

    color: rgb(255, 255, 255);
}
.bg{
    background-color: #104a74;
}
.filtro{
    align-items: center
}
.btnacor{
    border-color: #104a74;
    background-color: #104a74;;
    color: white;
}
.btnacor:hover{
    background-color: #104a74d7;
    color: white;
}
.accordion-item:first-of-type .accordion-button{
    border-radius: 0 !important; 
}
.accordion-item:first-of-type{
    border-radius: 0 !important;
}
.accordion-item:first-of-type, .accordion-item:last-of-type{
    border-radius: 0 !important;
}
ul, li{
    list-style: none !important;
}
li{    
    margin-bottom: 2px;
}
p{
    margin: 0;
}

#id_curso {
    background: #EEE; 
    pointer-events: none;
    touch-action: none;
  }