<header class="row">
    <div class="col" style="border-bottom: 1px solid rgb(255, 255, 255);">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">                                  
              <a class="navbar-brand" href="/">
                
                <img class="img-fluid logo" src="/static/images/logo_pmnf.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                 
                  <li class="nav-item">                        
                    <a class="nav-link" href="/">                      
                        <h1>{{titulo}}</h1>
                    </a>
                  </li>
                  
                </ul>
              </div>
                <div id="login-button" class="d-flex ms-auto">                                                                  
                  <a class="btn d-flex link-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">                    
                    <i class="fa-regular fa-user me-2 my-auto"></i>
                    LOGIN
                  </a>                      
                  <!-- <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuPerfil" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg style="height: 18px;" class="me-2 my-auto img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                      Eduardo Salarini
                      <svg style="height: 15px;" class="my-auto ms-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
                    </button>
                    <ul id="menu-perfil" class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item py-2 text-center" href="/admin/">Perfil cidadão</a></li>
                      <li><a class="dropdown-item py-2 text-center" href="/admin/">Alterar senha</a></li>
                      
                                               
                      <li>
                        <a class="dropdown-item text-center py-2" href="/admin/logout">                          
                           Logout                            
                        </a>
                      </li>
                    </ul>
                  </div> -->
                  
                </div>
              </div>
            </div>
          </nav>
    </div>
</header>