{% extends 'template.html' %}
{% load static %}
{% block title %}{{titulo}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
<div id="banner" class="row mx-auto mb-5">
    <div class="col px-0">
      <div class="container pb-5">
        {% if carousel %}
                <div class="row mt-4">
                  <div class="col">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/static/images/copias/slide2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="/static/images/copias/slide1.png" class="d-block w-100" alt="...">
                        </div>                          
                        <div class="carousel-item">
                          <img src="/static/images/copias/slide3.png" class="d-block w-100" alt="...">
                        </div>                          
                        <div class="carousel-item">
                          <img src="/static/images/copias/slide4.png" class="d-block w-100" alt="...">
                        </div>              
                        <div class="carousel-item">
                          <img src="/static/images/copias/slide5.png" class="d-block w-100" alt="...">
                        </div>                                      
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div> 
                  </div>
                </div>
                {% endif %}
                <h2 class="d-flex mt-3 p-4 text-center" style="background-color: #128325;">
                    <span class="my-auto mx-auto">Qual serviço você está procurando?</span>
                </h2>
                
                <div class="row">                  
                  <div class="col">
                    <img class="img-fluid" src="{% static 'images/banner.jpg' %}" alt="">                    
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex flex-column pt-4 text-dark px-4">                    
                      <h5 class="text-uppercase mt-2"><i class="fa-solid fa-list me-4"></i>Todos os sistemas</h5>
                      <div class="row">
                        <div class="col mb-4 servicos d-flex flex-wrap justify-content-between pt-2 pb-4">                            
                            {% for i in servicos %}
                              <a href="{{i.link}}" target="_blank" class="px-5 border d-flex" style="height: 80px;">
                                <span class="m-auto">{{i.nome}}</span>
                              </a>  
                            {% endfor %}                            
                              <!-- <a href="https://desenvolve.novafriburgo.rj.gov.br/" class="border d-flex" style="height: 80px;">
                                <span class="m-auto">CEVEST</span>
                              </a> 
                              <a href="https://desenvolve.novafriburgo.rj.gov.br/" class="border d-flex" style="height: 80px;">
                                <span class="m-auto">Mapeamento Cultural</span>
                              </a>
                              
                              <a href="https://desenvolve.novafriburgo.rj.gov.br/" class="border d-flex" style="height: 80px;">
                                <span class="m-auto">Senhas de Turismo</span>
                              </a>    -->
                              <!-- <button href="https://desenvolve.novafriburgo.rj.gov.br/" class="btn btn-secondary bg-light mx-2 mt-1" style="height: 80px;">
                                <span class="m-auto">
                                  <img class="img-fluid" style="height: 80px;" src="{% static 'images/arrow-down.png' %}" alt="">
                                </span>
                              </button>                                   -->
                        </div>
                        
                        <!-- <div class="col d-flex py-4">
                          <div class="m-auto">
                            <i>aqui fica informação do sistema ao passar o mouse</i>
                          </div>
                        </div> -->
                      </div>
                      <h5 class="text-uppercase">
                        <i class="fa-solid fa-filter me-4"></i>
                        Sistemas por secretaria</h5>
                      <div class="row">
                        <div class="col mb-4 servicos d-flex flex-column pt-2 pb-4">                            
                            
                             <div class="row">
                              <div class="col px-5 d-flex flex-wrap justify-content-between">
                                {% for i in secretarias %}
                                  <div class="mx-2">
                                    <span class="titulo">{{i.0}}</span>
                                    <div class="links pt-3">
                                      {% for u in i.1 %}
                                      {% for o in u %}
                                        <p><a href="{{o.link}}">{{o.nome}}</a></p>
                                      {% endfor %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                             </div>                    
                        </div>
                        
                        <!-- <div class="col d-flex py-4">
                          <div class="m-auto">
                            <i>aqui fica informação do sistema ao passar o mouse</i>
                          </div>
                        </div> -->
                      </div>
                  </div>
              </div>
              <!-- <div class="row">
                  <div class="col pt-5 d-flex">
                      
                  </div>
                </div>          -->
              </div>                                                         
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-0">
      <div class="modal-header border-0 rounded-0">
        <h5 id="mTitle" class="modal-title text-dark " id="exampleModalLabel">
          
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0 text-dark d-flex">
        <span id="mBody" class="px-2 mx-auto text-center text-danger">
          <i class="fa-solid fa-circle-exclamation me-2"></i>O sistema de login está temporariamente desabilitado em nosso portal.
        </span>
      </div>
      <div class="modal-footer border-0">        
        <!-- <a id="mLink" href="#" type="button" class="btn btn-success w-100 fw-bold text-uppercase">Acessar sistema <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i></a> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}