<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header border-0 rounded-0">
          <h5 id="mTitle" class="modal-title text-dark " id="exampleModalLabel">
            
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body border-0 text-dark">
          <span id="mBody" class="px-2">
  
          </span>
        </div>
        <div class="modal-footer border-0">        
          <a id="mLink" href="#" type="button" class="btn btn-success w-100 fw-bold text-uppercase">Acessar sistema <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script>
    function changeModal(titulo, href){    
      document.getElementById('mTitle').innerText=titulo;
      document.getElementById('mBody').innerText=titulo;
      document.getElementById('mLink').href=href;
  
    }
  </script>