#banner{    
    width: 90%;
    height: auto;
    background-color: white;
}
#mainBlock{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
@media (max-width: 550px)
{
 #mainBlock{
    padding-top: 2rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
 }
 #banner{
  width: 100% !important;
 }
}
#subHeader{    
    background: #1b8bd8; 
    color: white;
   /* background-image: url(../images/grad.webp);*/
}

/* #banner h1{
    font-size: 120pt;
} */
a{
    text-decoration: none;
    
}
main{
    /* background-color: var(--main-color); */
    background-color: rgba(105, 145, 96, 0.904);
    /* background-image: url('/static/images/bg-main2.jpg'); */
    /* background-image: url(/static/images/uerj-bg.jpg); */
    /* background-image: url(/static/images/bg2.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

#carouselExampleControls{
    height: 300px;
    width: 100%;
}
#carouselExampleControls img{
    height: 300px;
}

.servicos a, .servicos button{
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    margin-top: 5px;
    min-width: 350px;
    width: 33%;
    border-color: white;
}
.servicos a:hover,  .servicos button:hover{
    background-color: #128325;    
    border-color: white;
}
.servicos a:active,  .servicos button:active{
    background-color: #255a2e;    
    border-color: white;
}
.servicos a:focus,  .servicos button:focus{
    background-color: #255a2e;    
    border-color: white;
}
@media (max-width: 558px)
{
    .servicos a, .servicos button{
        min-width: auto;
        width: 100%;
        text-align: center;
        padding: 0 !important;
        font-size: 3.5vw;
    }
}
@media (max-width: 984px)
{
    .servicos a, .servicos button{
        /* min-width: auto;
        width: 100%;
        text-align: center;
        padding: 0 !important;
        font-size: 3.5vw; */
        margin: auto !important;
    }
}
.titulo{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.links p {
    line-height: 14pt;
}
.links p a{
    background-color: rgba(46, 46, 46, 0);
    color: rgb(75, 75, 75);
    border-radius: 0px;
    text-transform: uppercase;
    margin-top: 0px;
    /* min-width: 350px;
    width: 33%; */
}
.links a:hover,  .links button:hover{
    background-color: #12832500;    
    border-color: white;
    text-decoration: underline;
}